{% extends "base.html" %}

{% block title %}Nouveau document{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Documents accessibles</h2>
    <div class='table-responsive'>
        <table class='table'>
            <thead class='text-center'>
                <th>
                    <a href="?sort_field=title&sort_order={% if sort_field == 'title' and sort_order == 'asc' %}desc{% else %}asc{% endif %}{% if filter_field and filter %}&filter_field={{ filter_field }}&filter={{ filter|urlencode }}{% endif %}">
                        Titre
                        {% if sort_field == 'title' %}{% if sort_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                    </a>
                    {% include "pagination/column_filter.html" with column_name='title' %}
                </th>
                <th>
                    <a href="?sort_field=description&sort_order={% if sort_field == 'description' and sort_order == 'asc' %}desc{% else %}asc{% endif %}{% if filter_field and filter %}&filter_field={{ filter_field }}&filter={{ filter|urlencode }}{% endif %}">
                        Description
                        {% if sort_field == 'description' %}{% if sort_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                    </a>
                    {% include "pagination/column_filter.html" with column_name='description' %}
                </th>
                <th>
                    <a href="?sort_field=category&sort_order={% if sort_field == 'category' and sort_order == 'asc' %}desc{% else %}asc{% endif %}{% if filter_field and filter %}&filter_field={{ filter_field }}&filter={{ filter|urlencode }}{% endif %}">
                        Catégorie
                        {% if sort_field == 'category' %}{% if sort_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                    </a>
                    {% include "pagination/column_filter.html" with column_name='category__name' %}
                </th>
                <th>
                    <a href="?sort_field=created_by&sort_order={% if sort_field == 'created_by' and sort_order == 'asc' %}desc{% else %}asc{% endif %}{% if filter_field and filter %}&filter_field={{ filter_field }}&filter={{ filter|urlencode }}{% endif %}">
                        Auteur
                        {% if sort_field == 'created_by' %}{% if sort_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                    </a>
                    {% include "pagination/column_filter.html" with column_name='created_by__username' %}
                </th>
                <th>
                    <a href="?sort_field=assigned_to&sort_order={% if sort_field == 'assigned_to' and sort_order == 'asc' %}desc{% else %}asc{% endif %}{% if filter_field and filter %}&filter_field={{ filter_field }}&filter={{ filter|urlencode }}{% endif %}">
                        Assigné à
                        {% if sort_field == 'assigned_to' %}{% if sort_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                    </a>
                    {% include "pagination/column_filter.html" with column_name='assigned_to__username' %}
                </th>
                <th>
                    <a href="?sort_field=created_at&sort_order={% if sort_field == 'created_at' and sort_order == 'asc' %}desc{% else %}asc{% endif %}{% if filter_field and filter %}&filter_field={{ filter_field }}&filter={{ filter }}{% endif %}">
                        Date de création
                        {% if sort_field == 'created_at' %}{% if sort_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                    </a>
                    {% include "pagination/column_filter.html" with column_name='created_at' %}
                </th>
                <th>
                    <a href="?sort_field=status&sort_order={% if sort_field == 'status' and sort_order == 'asc' %}desc{% else %}asc{% endif %}{% if filter_field and filter %}&filter_field={{ filter_field }}&filter={{ filter|urlencode }}{% endif %}">
                        Statut
                        {% if sort_field == 'status' %}{% if sort_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                    </a>
                    {% include "pagination/column_filter.html" with column_name='status' %}
                </th>
            </thead>
            <tbody class='justify-content-center'>
                {% for document in page_obj %}
                    <tr>
                        <td>{{ document.title }}</td>
                        <td>{{ document.description }}</td>
                        <td>{{ document.category }}</td>
                        <td>{{ document.created_by }}</td>
                        <td>{{ document.assigned_to }}</td>
                        <td>{{ document.created_at|date:'d/m/y H:i' }}</td>
                        <td>{{ document.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "pagination/pagination.html" %}
</div>
{% endblock %}